<style>
    #map {
        height: 750px;
    }
</style>

      <div class="row">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><%= @postcode.upcase %></span>
              <p>Your postcode</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><%= @incidents.count %></span>
              <p>How many accidents?</p>
            </div>
          </div>
        </div>
      </div>
      <% if @authority != nil %>
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><%= safety_average @authority, @authority_incidents, @average_incidents %></span>
              <p>There were <%= @authority_incidents.to_i %> incidents in this local authority compared with an average of <%= @average_incidents %> in authorities around the country.</p>
              <p>The least safe local authority is <%= @worst_authority.name %> with <%= @most_incidents.value.to_i %> incidents.</p>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <% if @incidents.count > 0 %>
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <%= pie_chart (@incidents_severity) %>

                <p>How severe are they?</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <%= bar_chart (@daysofweek), discrete: true %>


                <p>When do they occur?</p>
              </div>
            </div>
          </div>
        </div>




         <div class="row">
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <%= pie_chart (@incidents_gender) %>

                    <p>What gender were the drivers?</p>
                  </div>
                </div>
              </div>
               <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <%= bar_chart (@incidents_ageband), discrete: true %>


                    <p>How old were the drivers?</p>
                  </div>
                </div>
              </div>
            </div>
     
      <% end %>
    <div class="row">
              <div class="col s12 m12">
                <div class="card">
                  <div class="card-content">
                    <div id="panel" >
                      <button onclick="toggleDisplay()">Toggle Heatmap and Crash Details</button>
                    </div>
                    <div id="map"></div>
                  </div>
                </div>
              </div>
            </div>







<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=visualization&callback=initialize"></script>

<script>

<%- locations = [] %>
<%- @incidents.each do |i| %>
  <%- locations.append( "{
   location:{ lat: #{i['location_array']['coordinates'][1]}, lng: #{i['location_array']['coordinates'][0]} },
   label: '#{title_for_incident i}'
  }".html_safe ) %>
<%- end %>


var locationArray = [<%= locations.join(',').html_safe %>]

var redCar =  '<%= image_path("RedCar.png") %>';
var amberCar = '<%= image_path("AmberCar.png") %>'
var greenCar = '<%= image_path("GreenCar.png") %>'

var arrayOfPoints = [];
var markers = [];
var markersShown = true;

var map, heatmap;

    function initialize() {
        InitMapWithData(<%= @postcode_lat_long['lat'] %>, <%= @postcode_lat_long['lng'] %>, 2000, locationArray)
    }

    function InitMapWithData (latitude, longitude, radius, pins) {
        var center = {lat: latitude, lng: longitude};

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: center
        });

        var marker = new google.maps.Marker({
            position: center,
            map: map
        });

        var dataCircle = new google.maps.Circle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.15,
          map: map,
          center: center,
          radius: radius
        });

        for (pin in pins) {
          addMarker(pins[pin].location, pins[pin].label, map);
          arrayOfPoints.push(new google.maps.LatLng(pins[pin].location.lat, pins[pin].location.lng));
        }

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: arrayOfPoints,
          map: map
        });

        heatmap.setMap(heatmap.getMap() ? null : map);

        //toggleHeatmap();
        changeRadius();

        toggleDisplay();
      }

      function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function toggleDisplay ()
{
  if (markersShown == true)
  {
    clearMarkers();
    markersShown = false;
  }
  else {
    showMarkers();
    markersShown = true;
  }

  toggleHeatmap();
}

      function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}


    // Adds a marker to the map.
    function addMarker(location, label, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        /*var marker = new google.maps.Marker({
            position: location,
            label: label,
            map: map
        });*/

        var infowindow = new google.maps.InfoWindow({
          content: label
        });

        var iconURL = "https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/car.png";

        switch (label.charAt(0)) {
          case 'F':
          {
              iconURL = redCar;
              break;
          }
          case 'S':
          {
            iconURL = amberCar;
            break;
          }
          case 'M':
          {
            iconURL = greenCar;
            break;
          }
        }

        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: iconURL
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        markers.push(marker);
    }

    // Sets the map on all markers in the array.
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setMapOnAll(null);
}

// Shows any markers currently in the array.
function showMarkers() {
  setMapOnAll(map);
}

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

