
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Let's get started</span>
        <p>
          Tell me your postcode and I'll have a look for the road traffic incidents nearby.
        </p>
        
        <p>
          <%= form_tag(search_postcode_index_path, method: 'get') do %>
          
            <div class="row">
              <div class="input-field col s12">
                <%= text_field_tag :postcode %>
                <%= label_tag :postcode %>
              <% if flash[:notice] %>
              <br/>
                <blockquote>
                  <p class="error-text"><%= flash[:notice] %></p>
                </blockquote>
              <% end %>
              </div>
              
            </div>
  

            <div class="row">

              <div class="input-field col s12 right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
              </div>
            </div>
          
          <% end %>
        </p>
        
        
      </div>
    </div>
  </div>
</div>

