<style>
    #map {
        height: 750px;
    }
</style>

<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?signed_in=true"></script>

<script>
// In the following example, markers appear when the user clicks on the map.
    // Each marker is labeled with a single alphabetical character.
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;

    function initialize() {
        InitMapWithData(12, 12, 10000, [{location: { lat: 12.05, lng: 12.05 }, title: "test", label: "Sample Test"}, {location: { lat: 11.95, lng: 11.95 }, title: "Other test", label: "This road will kill you!"}])
    }

    function InitMapWithData (latitude, longitude, radius, pins) {
        var center = {lat: latitude, lng: longitude};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: center
        });

        var marker = new google.maps.Marker({
            position: center,
            map: map
        });

        var dataCircle = new google.maps.Circle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          map: map,
          center: center,
          radius: radius
        });

        for (pin in pins) {
          console.log(pins[pin].label);
          addMarker(pins[pin].location, pins[pin].title, pins[pin].label, map);
        }
      }

    // Adds a marker to the map.
    function addMarker(location, title, label, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        /*var marker = new google.maps.Marker({
            position: location,
            label: label,
            map: map
        });*/

        var infowindow = new google.maps.InfoWindow({
          content: label
        });

        var marker = new google.maps.Marker({
          position: location,
          map: map,
          title: title,
          icon: "https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/car.png"
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
