@import "materialize";

body {
  background-color: #fcfcfc;
}


h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

.card-title {
  @extend .red-text;
  font-size: 60px;
}

#panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 40%;
        padding: 5px;
        position: absolute;
        top: 30px;
        z-index: 5;
      }
.error-text {
	  @extend .red-text;
	  font-weight: thin;
	  font-size: 13px;
}
